<%- include('header'); -%>
<a href="/" class="btn btn-success mb-3 ml-auto">Home</a>
<h1 class="text-primary font-weight-bold"><%= blogTitle %></h1>
<p class="text-dark blog-content-explore"><%= blogContent %></p>
<%- include('footer'); -%>