<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <title>CRUD | EJS | Express | MongoDB</title>
</head>

<body>

    <div class="container">
        <h1 class="text-danger font-weight-bold text-center mt-4 mb-5">CRUD | EJS | Express | MongoDB</h1>